body {
  font-family: "Antic Slab", "cursive";
}
nav {
  padding-bottom: 25px;
  background-color: #F7F7F7;
  color: #cb5211;
  font-size: 200%;
  padding-right: 30px;
}
.navbar-header  {
padding-bottom: 20px;
}
.logo {
  max-height:70px;
}
.nav.navbar-nav li a {
  color: #cb5211;
  left: 10%;
  bottom: auto;*/
  padding-top: 10px;
  margin-top: 20px;
  font-variant: small-caps;

}
.jumbotron {
  position: relative;
  padding-top: 3%px;
  padding-bottom: 3%px;
  margin-bottom: 10px;
  background-color: #65BEB4;
  text-align: center;
  margin-top: 0px;

}
.jumbotron h1 {
  font-size: 45px;
  color: white;
}
.big-logo {
  padding: 5px;
}
.col-md-4 {
  margin-bottom: 10px;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
}
.container-fluid  {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
.section-head {
  text-align: center;
  color: #484545
  font-size: 40px;
  font-variant: small-caps;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.Work h2 {
  text-align: center;
  color: #484545;
  font-variant: small-caps;
  margin-top: 0px;
}
.Work p {
  font-size: medium;
  text-align: left;
}
.photo {
  float: left;
  max-height: 80px;
  margin: 2%;
}
.About-me {
  background-color: #F7F7F7;
  padding-bottom: 3%;
  color: #484545;
}
.img-circle{
  max-width: 20%;
  margin: 2%;
}
.About-me {
  padding-bottom: 3%;
  padding-right: 9%;
  padding-left: 5%;
  font-size: medium;
}
.About-me ul {
  text-align: right;
  color: #cb5211;
  font-size: large;
}
#footer {
  background-color:#65BEB4;
  color:white;
  padding: 1.5%;
  margin-bottom: 0px;
  text-align: center;
}
#footer h1 {
  font-variant: small-caps;
  font-size: 270%;
  margin-top: 4%;
}
#footer p {
  font-size: 140%;
}
