body {
  font-family: "Antic Slab", "cursive";
}

.jumbotron {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #65BEB4;
  text-align: center;
  margin-top: 0px;
  color: white;
}
nav {
  margin-bottom: 10px;
  border-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  left: 0;
  background-color: #F7F7F7;
  color: #cb5211;

}
.nav.navbar-nav li a {
  color: #cb5211;
  left: 10%;
  bottom: auto;
}
.logo {

}
